/* @import url('https://fonts.gooleapis.com/css2?family=Lato&family=Red+Hat+Display&display=swap');  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*{
    margin: 0% ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato" sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: rgb(226, 161, 161); */
}
.header,.footer{
    background-color: lightskyblue;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
}
.header{
    font-size: 2rem;
}
.main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar{
    background: lightskyblue;
    color: white;
    padding: 20px;
    min-width: 300px;
}
.text{
    color: #eee;
    font-size: 0.8rem;
    margin-bottom: 2px;
}
.amount_balaceHolder{
    font-size: 2rem;
}
/* form */
.form{
    background-color: #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form p{
    font-size: 1.4rem;
    /* margin-bottom: 10px; */ 
}
label,input{
    display: block;
}
input{
    padding: 5px 10px;
}
/* form-control */
.form-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.radio{
    display: flex;
    align-items: center
}

/* button reset */
button{
    outline: none;
    border: none;
    background: none;
}

/* button for save to transaction */
.btn{
    display: block;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: rgb(13, 87, 133);
}


/* headingList for transaction list */
p.headingList{
    margin: 10px 0;
}
ul{
    list-style: none;
}

/* transaction income & expense */
.transaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    margin: 5px 0;
}

/* transaction income & expense for color */
.income{
    background-color: lightskyblue;
}
.expense{
    background-color: #e5415e;
}

/* right side */
.right_side{
    display: flex;
    gap: 5px;
}
.right_side button{
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}
.right_side button:hover{
    color: skyblue;
}